<a href="https://colab.research.google.com/github/Chaitanya081/DSA0410_Fundamentals-of-Data-Science-Lab-Experiments/blob/main/FODS_Experiments_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("student_score.csv")
print(df.head())

   Student  Math  Science  English  History
0     Arun    78       82       75       80
1  Karthik    85       88       90       84
2    Priya    92       91       89       93
3   Sanjay    67       70       72       68
4   Ananya    88       85       87       90

In [3]:
student_scores=df[["Math","Science","English","History"]].to_numpy()

In [4]:
average_scores = np.mean(student_scores, axis=0)

In [5]:
subjects = ["Math", "Science", "English", "History"]

In [6]:
print("Average Scores:")
for i in range(len(subjects)):
    print(subjects[i],":",average_scores[i])

print("\nHighest Average subject:",subjects[np.argmax(average_scores)])

Average Scores:
Math : 81.96875
Science : 82.5625
English : 82.96875
History : 82.875

Highest Average subject: English

In [7]:
import numpy as np
import pandas as pd

In [24]:
df=pd.read_csv("Sales.csv")
print(df.head())

   Product_ID     Month_sales Sales_Rep Region    Total  Quantity_Sold  \
0        1052   February 2023       Bob  North  5053.97             18
1        1093      April 2023       Bob   West  4384.02             17
2        1015  September 2023     David  South  4631.23             30
3        1072     August 2023       Bob  South  2167.94             39
4        1061      March 2023   Charlie   East  3750.20             13

  Product_Name  Unit_Cost    Price Customer_Type  Discount Payment_Method  \
0    Furniture     152.75   267.22     Returning      0.09           Cash
1    Furniture    3816.39  4209.44     Returning      0.11           Cash
2         Food     261.56   371.40     Returning      0.20  Bank Transfer
3     Clothing    4330.03  4467.75           New      0.02    Credit Card
4  Electronics     637.37   692.71           New      0.08    Credit Card

  Sales_Channel Region_and_Sales_Rep
0        Online            North-Bob
1        Retail             West-Bob
2        Retail          South-David
3        Retail            South-Bob
4        Online         East-Charlie

In [9]:
prices=df["Price"].to_numpy()

In [10]:
average_price=np.mean(prices)

In [11]:
print("Average price of all products sold:",average_price)

Average price of all products sold: 2728.44012

In [12]:
import numpy as np
import pandas as pd

In [13]:
df=pd.read_csv("House_Prediction.csv")
print(df.head())

   S.no  beds  baths  size  zip_code    price
0     0     3    2.5  2590     98144   795000
1     1     4    2.0  2240     98106   915000
2     2     4    3.0  2040     98107   950000
3     3     4    3.0  3800     98199  1950000
4     4     2    2.0  1042     98102   950000

In [14]:
house_data = df[["beds", "price"]].to_numpy()
filtered_houses=house_data[house_data[:,0]>4]
average_price=np.mean(filtered_houses[:,1])

In [15]:
print("Average sale price of houses with more than 4 bedrooms is :",average_price)

Average sale price of houses with more than 4 bedrooms is : 1566041.6751592357

In [16]:
import numpy as np
import pandas as pd

In [17]:
df=pd.read_csv("sales_performance.csv")
print(df.head())

     date  Revenue     US GDP  Europe GDP  CHN GDP US  Price Index    NIKE
0  2000Q1     1517  12359.095   1728.2440  257.649148        246.5  2161.6
1  2000Q2     1248  12592.530   1749.6000  290.437535        326.4  2272.7
2  2000Q3     1677  12607.676   1769.2586  310.550979        322.5  2636.7
3  2000Q4     1393  12679.338   1789.2533  352.695291        321.0  2198.7
4  2001Q1     1558  12643.283   1819.1398  290.974546        329.4  2170.1

In [18]:
year_data=df[df["date"].str.contains("2000")]
sales_data=year_data["Revenue"].to_numpy()
total_sales=np.sum(sales_data)
percentage_increase=((sales_data[3]-sales_data[0])/sales_data[0])*100

In [19]:
print("Quarterly Sales Data:", sales_data)
print("Total Sales for the Year:", total_sales)
print("Percentage Increase from Q1 to Q4:", percentage_increase, "%")

Quarterly Sales Data: [1517 1248 1677 1393]
Total Sales for the Year: 5835
Percentage Increase from Q1 to Q4: -8.174027686222809 %

In [20]:
import pandas as pd
import numpy as np

In [21]:
df=pd.read_csv("Fuel_Efficiency.csv")
print(df.head())

   city_mpg                        class  combination_mpg  cylinders  \
0        25                  midsize car               29        4.0
1        26                  midsize car               30        4.0
2        25  small sport utility vehicle               27        4.0
3        26  small sport utility vehicle               29        4.0
4        26  small sport utility vehicle               28        4.0

   displacement drive fuel_type  highway_mpg(Fuel Efficiency)   make  \
0           2.5   fwd       gas                            36  mazda
1           2.5   fwd       gas                            37  mazda
2           2.5   fwd       gas                            31  mazda
3           2.0   fwd       gas                            34  mazda
4           2.0   fwd       gas                            32  mazda

      model transmission  year
0         6            m  2014
1         6            a  2014
2  cx-5 2wd            a  2014
3  cx-5 2wd            m  2014
4  cx-5 2wd            a  2014

In [22]:
fuel_efficiency=df["highway_mpg(Fuel Efficiency)"].to_numpy()
average_efficiency = np.mean(fuel_efficiency)
model1=fuel_efficiency[0]
model2=fuel_efficiency[1]
percentage_increase=((model2-model1)/model1)*100

In [23]:
print("Average Fuel Efficiency is:",average_efficiency)
print("Percentage Increase in Fuel Efficiency is:",percentage_increase)

Average Fuel Efficiency is: 28.60909090909091
Percentage Increase in Fuel Efficiency is: 2.7777777777777777